body
{
  background-color: #444444;
  scrollbar-DarkShadow-Color: #444444;
  scrollbar-3dLight-Color   : #444444;
  scrollbar-Track-Color     : #444444;
  scrollbar-Face-Color      : #555555;
  scrollbar-Shadow-Color    : #222222;
  scrollbar-Highlight-Color : #888888;
  scrollbar-Arrow-Color     : #555555;

}
#details
{
  position: absolute; 
  top     : 40px; 
  left    : 40px; 
  display : none; 
  z-index : 100;
}
#skrupel_version
{
  position:absolute;
  top:10px;
  left:14px;
  z-index:101;
}
#portal_version
{
  position:absolute;
  top:10px;
  right:14px;
  z-index:101;
}
#portal_center
{
  position  : absolute; 
  top       : 41px; 
  height    : 80%; 
  left      : 57px; 
  width     : 95%; 
  background: url('<?=$skrupel_path?>bilder/hintergrund.gif'); 
  z-index   : 1;
}
#portal_innerFrame
{
  position        : absolute;
  width           : 800px; 
  height          : 400px; 
  padding         : 24px; 
  background-color: #444444; 
  top             : 10%; 
  left            : 5%;   
}
#portal_innerframe_content
{
  position: absolute;
  top     : 18px; 
  height  : 365px;
  width   : 760px;
  left    : 18px; 
  overflow: auto; 
  color   : #FFFFFF;
}
#portal_nav
{
  position        : absolute; 
  bottom          :  12px; 
  left            :  56px; 
  height          : 100px; 
  width           :  90%; 
  background-color: #444444; 
  z-index         : 10;
}

img.portal_oben
{
  position:absolute; 
  top: 0px; 
  height : 41px;
  z-index:10;
}
img.portal_oben_mitte
{
  position: absolute; 
  width   : 98%; 
  top     : 0px; 
  height  : 41px; 
  z-index : 9;
}

img.portal_menu
{
  position: absolute;
  width   : 57px;
  left    :  0px;
  z-index : 10;
}

img.portal_links_mitte
{
  position: absolute; 
  height  : 98%; 
  left    :  0px; 
  width   : 57px; 
  z-index : 9;
}
img.portal_links_unten
{
  position: absolute; 
  bottom  : 130px; 
  left    :   0px; 
  height  :  40px; 
  width   :  57px; 
  z-index : 10;
}


img.portal_rechts_oben
{
  position: absolute; 
  top     :  41px; 
  right   :   0px; 
  height  : 233px; 
  width   :   7px; 
  z-index : 10;
}
img.portal_rechts_unten
{
  position: absolute; 
  height  : 98%; 
  right   : 0px;  
  width   : 7px; 
  z-index : 9;
}

img.portal_trenner
{
  position: absolute; 
  bottom  : 117px; 
  height  :  13px; 
  z-index : 10;
}
img.portal_trenner_mitte
{
  position: absolute; 
  bottom  : 117px; 
  width   : 98%; 
  height  : 13px; 
  z-index : 9;
}

img.portal_nav
{
  position: absolute; 
  bottom  :  10px; 
  height  : 107px; 
  z-index : 11;
}
img.portal_nav_mitte
{
  position: absolute; 
  bottom  :  10px;
  left    :  56px; 
  width   : 94%;
  height  : 107px; 
  z-index : 10;
}

img.portal_unten
{
  position: absolute; 
  bottom  :  0px; 
  height  : 10px; 
  z-index : 10;
}
img.portal_unten_mitte
{
  position: absolute; 
  bottom  :  0px; 
  width   : 98%; 
  height  : 10px; 
  z-index : 9;
}

img.innerframe_oben
{
  position: absolute; 
  top     :   0px;  
  height  :  18px;   
  width   : 114px;
  z-index : 20;
}
img.innerframe_oben_mitte
{
  position: absolute; 
  top     :  0px; 
  width   : 96%; 
  height  : 18px;
  z-index : 19;
}

img.innerframe_links
{
  position: absolute; 
  left    :  0px; 
  width   : 18px; 
  height  : 80px;
  z-index : 20;
}
img.innerframe_links_mitte
{
  position: absolute; 
  height  : 93%; 
  left    :  0px; 
  width   : 18px;
  z-index : 19;
}

img.innerframe_rechts
{
  position: absolute; 
  right   :  0px; 
  width   : 18px; 
  height  : 80px;
  z-index : 20;
}
img.innerframe_rechts_mitte
{
  position: absolute; 
  height  : 93%; 
  right   :  0px; 
  width   : 18px;
  z-index : 19;
}

img.innerframe_unten
{
  position: absolute; 
  bottom  : 0px; 
  width   : 114px; 
  height  : 16px;
  z-index : 20;
}
img.innerframe_unten_mitte
{
  position: absolute; 
  bottom  : 0px; 
  width   : 93%; 
  height  : 16px;
  z-index : 19;
}
h1
{
  font-size: 20px;
}
h2
{
  font-size: 14px;
}
h3
{
  font-size: 12px;
}

