body
{
  background-color: #444444;
}
#details
{
  position: absolute;
  top     : 40px;
  left    : 40px;
  display : none;
  z-index : 100;
}
#skrupel_version
{
  position:absolute;
  top:10px;
  left:14px; 
  z-index:101;
}
#portal_version
{
  position:absolute; 
  top:10px; 
  right:14px; 
  z-index:101;
}
#portal_center
{
  position  : absolute; 
  top       : 41px; 
  bottom    : 130px; 
  left      : 57px; 
  right     : 7px;
  background: url('<?=$skrupel_path?>bilder/hintergrund.gif');   
  z-index   : 1;
}
#portal_innerframe
{
  position        : absolute;
  right           : 40px;
  bottom          : 40px; 
  top             : 40px; 
  left            : 40px;   
  padding         : 24px;
  
}
#portal_innerframe_content
{
  position        : absolute; 
  top             : 18px; 
  bottom          : 16px; 
  left            : 18px; 
  right           : 18px; 
  overflow        : auto; 
  color           : #000000;
  background-color: #444444;
}
#portal_nav
{
  position        : absolute; 
  bottom          : 12px; 
  left            : 55px;   
  height          : 100px;
  right           : 19px;
  background-color: #444444;
  z-index         : 12;
}
/* main frame */
img.portal_oben
{
  position:absolute; 
  top: 0px; 
  height : 41px;
}
img.portal_oben_mitte
{
  position: absolute;
  left    : 348px;
  right   : 402px; 
  top     :   0px; 
  height  :  41px; 
}

img.portal_menu
{
  position: absolute;
  width   : 57px;
  left    :  0px;
}
img.portal_links_mitte
{
  position: absolute; 
  bottom  : 170px;
  top     : 380px;
  left    :   0px; 
  width   :  57px; 
}
img.portal_links_unten
{
  position: absolute; 
  bottom  : 130px; 
  left    :   0px; 
  height  :  40px; 
  width   :  57px; 
}

img.portal_rechts_oben
{
  position: absolute; 
  top     :  41px; 
  right   :   0px; 
  height  : 233px; 
  width   :   7px; 
}
img.portal_rechts_unten
{
  position: absolute; 
  top     : 274px;
  bottom  : 130px;
  right   :   0px;  
  width   :   7px;   
}

img.portal_trenner
{
  position: absolute; 
  bottom  : 117px; 
  height  :  13px; 
}
img.portal_trenner_mitte
{
  position: absolute; 
  bottom  : 117px; 
  left    : 387px;
  right   : 364px; 
  height  : 13px; 
}

img.portal_nav
{
  position: absolute; 
  bottom  :  10px; 
  height  : 107px; 
}
img.portal_nav_mitte
{
  position: absolute; 
  bottom  :  10px;   
  left    :  56px; 
  right   :  19px; 
  height  : 107px;   
}

img.portal_unten
{
  position: absolute; 
  bottom  :  0px; 
  height  : 10px; 
}
img.portal_unten_mitte
{
  position: absolute; 
  bottom  :   0px; 
  left    : 389px;
  right   : 361px;
  height  :  10px; 
}
/* inner frame */
img.innerframe_oben
{
  position: absolute; 
  top     :   0px;  
  height  :  18px;
  width   : 114px;
}
img.innerframe_oben_mitte
{
  position: absolute; 
  top     :   0px; 
  left    : 114px;
  right   : 114px;
  height  :  18px
}

img.innerframe_links
{
  position: absolute; 
  left    :  0px; 
  width   : 18px; 
  height  : 80px;
}
img.innerframe_links_mitte
{
  position: absolute; 
  top     : 80px;
  bottom  : 80px; 
  left    :  0px; 
  width   : 18px;
}

img.innerframe_rechts
{
  position: absolute; 
  right   :  0px; 
  width   : 18px; 
  height  : 80px;
}
img.innerframe_rechts_mitte
{
  position: absolute; 
  top     : 98px;
  bottom  : 96px;
  right   :  0px; 
  width   : 18px;
}

img.innerframe_unten
{
  position: absolute; 
  bottom  : 0px; 
  width   : 114px; 
  height  : 16px
}
img.innerframe_unten_mitte
{
  position: absolute; 
  bottom  : 0px; 
  width   : 93%; 
  height  : 16px;
}
